include CHANGELOG.rst
include LICENSE.txt
exclude .gitignore
exclude .readthedocs.yaml
exclude release.txt
exclude requirements.txt
exclude Makefile
exclude docs/*
exclude docs/*
exclude tests/*
exclude tests/ltspice/*
exclude twin-t.png
exclude todo