---
name: pypi

on:    # yamllint disable-line rule:truthy
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi-repository
      url: https://pypi.org/p/ltparser
    permissions:
      contents: read      # checkout
      id-token: write     # OIDC for Trusted Publishing

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Build
        run: |
          pip install build
          python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          attestations: true
